
@{
    ViewBag.Title = "Chitiet6";
    Layout = "~/Areas/User/Views/Shared/Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">


                <div class="row row-mt-15em">
                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">Team1</a></span>
                        <h1 class="cursive-font">Hương vị cuộc sống!</h1>
                    </div>

                </div>


            </div>
        </div>
    </div>
</header>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="pagerpd">
            <div class="row">
                <div class="tab_de slide_de">
                    <!-- Slideshow 3 -->
                    <script src="/Assets/user/js/responsiveslides.min.js"></script>
                    <link rel="stylesheet" type="text/css" href="http://anie.vn/assets/user/css/responsiveslides.css" />
                    <ul class="rslides" id="slider3">
                        <li><a href="#"><img src="/Assets/images/img_6.jpg" alt=""></a></li>
                    </ul>



                    <!-- Slideshow 3 Pager -->

                </div>
                <div class="tab_de info_de" style="overflow-x: hidden;">
                    <h1>Gà viên chiên</h1>
                    <br />
                    <div class="fb-like" style="margin: 5px 0;width: 100%" data-href="http://anie.vn/dam-cong-so/dam-suong-xe-ta-dinh-hoa-hong-xanh---an1407-p1407.html" data-send="true" data-width="400" data-show-faces="false" data-font="arial"></div>
                    <div class="price-info">
                        <p class="price">$5.59</p>
                        <div id="product-buyer">
                            <i class="ico-hd-buy"></i>
                            <div>
                                <span class="hl" style="font-size: 16px;">
                                    <strong>58</strong>
                                </span>
                                <br>đã mua
                            </div>

                        </div>

                        <div style="clear: both;"></div>
                    </div>
                    <div class="description">
                        <p>✓ KFC giao hàng và thu tiền tận nơi toàn quốc.</p>
                        <p>✓ Miễn phí vận chuyển TOÀN QUỐC đối với đơn hàng từ 3 sản phẩm trở lên. </p>
                        <p>✓ Nhanh tay click MUA NGAY !</p>
                    </div>
                    <div class="product_attrs product_colors clearfix">




                    </div>
                    <div class="product_attrs product_sizes clearfix">
                        <label>Kích thước</label>
                        <ul class="select_size"><li size="Size XXL">XXL</li><li size="Size L">L</li><li size="Size S">S</li><li size="Size M">M</li><li size="Size XL">XL</li></ul>
                    </div>
                    <div class="product_quantity">
                        <div class="quantity_box">
                            <label>Số lượng</label>
                            <ul>
                                <li>-</li>
                                <li><input value="1"></li>
                                <li>+</li>
                            </ul>
                        </div>
                        <div class="product_code"> MÃ SP: SV1407</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="buy_now">Mua Ngay</div><br>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="/Assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/Assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/Assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/Assets/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="/Assets/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="/Assets/js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<script src="/Assets/js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<script src="/Assets/js/jquery.magnific-popup.min.js"></script>
<script src="/Assets/js/magnific-popup-options.js"></script>

<script src="/Assets/js/moment.min.js"></script>
<script src="/Assets/js/bootstrap-datetimepicker.min.js"></script>


<!-- Main -->
<script src="/Assets/js/main.js"></script>

