
@{
    ViewBag.Title = "services";
    Layout = "~/Areas/User/Views/Shared/Layout.cshtml";
}



<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">


                <div class="row row-mt-15em">
                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">Team1</a></span>
                        <h1 class="cursive-font">Rất hân hạnh khi được phục vụ!</h1>
                    </div>

                </div>


            </div>
        </div>
    </div>
</header>



<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">Dịch vụ của chúng tôi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <h3>Nhân viên thân thiện</h3>
                    <p>Các nhân viên luôn luôn vui vẻ, cởi mở, có trách nhiệm với công việc.Phong cách phục vụ thân thiện, hết lòng vì khách hàng và bầu không khí nồng nhiệt, ấm cúng </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-thought"></i>
                    </span>
                    <h3>Hương vị độc đáo</h3>
                    <p>Các môn ăn sáng tạo, luôn chinh phục được khẩu vụ của khách hàng</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-truck"></i>
                    </span>
                    <h3>Giao đồ ăn</h3>
                    <p>
                        Luôn đúng giờ, nhân viên giao hàng và đồ ăn luôn làm khách hàng vui vẻ khi sử dụng dịch vụ
                        .
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="gtco-cover gtco-cover-sm" style="background-image: url(/Assets/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>&ldquo; Chất lượng dịch vụ của họ làm cho tôi trở lại hơn và hơn nữa!&rdquo;</h1>
                <p>&mdash; John Doe, CEO of XYZ Co.</p>
            </div>
        </div>
    </div>
</div>

<div id="gtco-subscribe">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font">Mô tả</h2>
                <p>KFC- Kentucky Fried Chicken - Gà Rán Kentucky, một trong các thương hiệu thuộc Tập đoàn Yum Brands Inc (Hoa Kỳ). KFC chuyên về các sản phẩm gà rán và nướng, với các món ăn kèm theo và các loại sandwiches chế biến từ thịt gà tươi. Hiện nay đang có hơn 20.000 nhà hàng KFC tại 109 quốc gia và vùng lãnh thổ trên toàn thế giới.</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <form class="form-inline">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- </div> -->
	</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="/Assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/Assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/Assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/Assets/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="/Assets/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="/Assets/js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<script src="/Assets/js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<script src="/Assets/js/jquery.magnific-popup.min.js"></script>
<script src="/Assets/js/magnific-popup-options.js"></script>

<script src="/Assets/js/moment.min.js"></script>
<script src="/Assets/js/bootstrap-datetimepicker.min.js"></script>


<!-- Main -->
<script src="/Assets/js/main.js"></script>

